[submodule "InputControls"]
	path = InputControls
	url = https://github.com/AddankiSaiSuryaSanjana/InputControls
[submodule "ImageButtons"]
	path = ImageButtons
	url = https://github.com/AddankiSaiSuryaSanjana/ImageButtons
[submodule "MenusAndAlerts"]
	path = MenusAndAlerts
	url = https://github.com/AddankiSaiSuryaSanjana/MenusAndAlerts
[submodule "Intents"]
	path = Intents
	url = https://github.com/AddankiSaiSuryaSanjana/Intents
[submodule "ScrollingTextView"]
	path = ScrollingTextView
	url = https://github.com/AddankiSaiSuryaSanjana/ScrollingTextView
